<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>page1</servlet-name>
        <servlet-class>page1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>page2</servlet-name>
        <servlet-class>page2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>page3</servlet-name>
        <servlet-class>page3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>page4</servlet-name>
        <servlet-class>page4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>page01</servlet-name>
        <servlet-class>page01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>page1</servlet-name>
        <url-pattern>/page1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>page2</servlet-name>
        <url-pattern>/page2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>page3</servlet-name>
        <url-pattern>/page3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>page4</servlet-name>
        <url-pattern>/page4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>page01</servlet-name>
        <url-pattern>/page01</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
